<article class="card">
    <div class="card-image">
        <img src="../../static/images/{{ image }}">
    </div>

    <div class="card-content">
        <h6>{{ title }}</h6>
        <p>{{ description }}</p>

        {% if type == "default" %}
        <span role="button" class="btn">{{ value }}</span>

        {% elif type == "date" %}

        <div class="two-btn">
            <div>
                <label for="firstDate">First Date</label>
                <span id="firstDate" role="button" class="btn">{{ value.oldest }}</span>
            </div>

            <div>
                <label for="lastDate">Last Date</label>
                <span id="lastDate" role="button" class="btn">{{ value.latest }}</span>
            </div>
        </div>

        {% endif %}
    </div>
</article>