<article class="card">
    <div class="card-image">
        <img
            src="https://quatrorodas.abril.com.br/wp-content/uploads/2022/10/Carro-de-Formula-1-da-Audi-1.jpg?quality=70&strip=info">
    </div>

    <div class="card-content">
        <h6>{{ title }}</h6>
        <p>{{ description }}</p>

        <button href="#" class="btn">Ver mais</button>
    </div>
</article>