<footer>
    <div id="footer-container">
        <h3>Knowledge Used</h3>
        <div class="footer-knowledge-section">
            <ul>
                <li>PostgreSQL</li>
                <li>Triggers</li>
                <li>Functions & Procedures</li>
                <li>Index & Views</li>
            </ul>
        </div>
        <div class="footer-knowledge-section">
            <ul>
                <li>Python language</li>
                <li>Jinja templating</li>
                <li>Pico CSS</li>
                <li>Flask framework</li>
            </ul>
        </div>
        <div class="footer-member-section">
            <div class="footer-member">
                <a href="https://github.com/joaolucasp">
                    <img src="https://github.com/joaolucasp.png" alt="João Lucas">
                </a>
                <p>João Lucas</p>
                <p>10994311</p>
            </div>
            <div class="footer-member">
                <a href="https://github.com/joelcoelho29">
                    <img src="https://github.com/joelcoelho29.png" alt="Joel Coelho">
                </a>
                <p>Joel Coelho</p>
                <p>4865826</p>
            </div>
            <div class="footer-member">
                <a href="https://github.com/ryrden">
                    <img src="https://github.com/ryrden.png" alt="Ryan Souza">
                </a>
                <p>Ryan Souza</p>
                <p>10261481</p>
            </div>
        </div>
    </div>
    <div id="footer-credits">
        <p>2023 — <strong>SSC0541 - Laboratório de Banco de Dados</strong></p>
</footer>