<footer>
    <div class="footer-section">
        <h3>
            Knowledge Used
        </h3>
    </div>
    <div class="footer-section">
        <ul>
            <li><a href="#">PostgresSQL</a></li>
            <li><a href="#">Triggers</a></li>
            <li><a href="#">Procedures</a></li>
            <li><a href="#">Functions pgSQL</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <ul>
            <li><a href="#">Python language</a></li>
            <li><a href="#">JINJA</a></li>
            <li><a href="#">Pico CSS</a></li>
            <li><a href="#">Flask</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <div class="footer-image">
            <a href="https://github.com/joaolucasp"> <img src="https://avatars.githubusercontent.com/u/83319546?v=4">
            </a>
            <p>João Lucas</p>
            <p>10994311</p>
        </div>
        <div class="footer-image">
            <a href="https://github.com/joelcoelho29"> <img src="https://avatars.githubusercontent.com/u/61102108?v=4">
            </a>
            <p>Joel Coelho</p>
            <p>4865826</p>
        </div>
        <div class="footer-image">
            <a href="https://github.com/Ryrden"> <img src="https://avatars.githubusercontent.com/u/76923948?v=4"> </a>
            <p>Ryan Souza</p>
            <p>10261481</p>
        </div>
    </div>
</footer>

<style>
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--tertiary);
        max-height: 80px;
        position: absolute;
        bottom: 0;
    }

    .footer-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer-section h3 {
        margin: auto;
    }

    .footer-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto 1rem;
    }

    .footer-image img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-bottom: 5px;
    }

    .footer-image p {
        font-size: 0.8rem;
        font-weight: bold;
        margin: auto;
    }

    .footer-section ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .footer-section ul li {
        margin: 5px 0;
        list-style: outside;
    }

    .footer-section ul li a {
        text-decoration: none;
        color: var(--secondary);
        font-size: 0.8rem;
        font-weight: bold;
    }

    @media (max-width: 991px) {
        footer {
            flex-direction: row;
            justify-content: space-around;
            max-height: 120px;
        }

        .footer-section {
            margin: 0;
        }

        .footer-section:nth-child(0),
        .footer-section:nth-child(1),
        .footer-section:nth-child(2),
        .footer-section:nth-child(3) {
            display: none;
        }
    }

    @media (min-width: 992px) {
        footer {
            flex-direction: row;
            justify-content: space-around;
        }

        .footer-section {
            margin: 0;
        }
    }
</style>
