<footer>
    <!-- <div class="footer-section">
        <h3>
            Knowledge Used
        </h3>
    </div>
    <div class="footer-section">
        <ul>
            <li>PostgresSQL</li>
            <li>Triggers</li>
            <li>Procedures</li>
            <li>Functions pgSQL</li>
        </ul>
    </div>
    <div class="footer-section">
        <ul>
            <li>Python language</li>
            <li>JINJA</li>
            <li>Pico CSS</li>
            <li>Flask</li>
        </ul>
    </div> -->
    <div class="footer-section">
        <div class="footer-image">
            <a href="https://github.com/joaolucasp"> <img src="https://github.com/joaolucasp.png">
            </a>
            <p>João Lucas</p>
            <p>10994311</p>
        </div>
        <div class="footer-image">
            <a href="https://github.com/joelcoelho29"> <img src="https://github.com/joelcoelho29.png">
            </a>
            <p>Joel Coelho</p>
            <p>4865826</p>
        </div>
        <div class="footer-image">
            <a href="https://github.com/ryrden"> <img src="https://github.com/ryrden.png"> </a>
            <p>Ryan Souza</p>
            <p>10261481</p>
        </div>
    </div>
</footer>