<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Login - Laboratório de Banco de Dados</title>

	<link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
	<link rel="canonical" href="https://picocss.com/examples/sign-in/" />

	<!-- Pico.css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />

	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="../static/font-awesome/css/all.min.css">
	<link rel="stylesheet" href="../static/font-awesome/css/fontawesome.min.css">

	<link rel="stylesheet" href="../static/stylesheet/main.css" />
	<script src="../static/javascript/main.js" defer></script>
</head>