<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Lab. de BD</title>

	<link rel="shortcut icon" href="https://www.f1mania.net/wp-content/themes/f1-mania/assets/images/favicon.ico" />
	<link rel="canonical" href="https://picocss.com/examples/sign-in/" />

	<!-- Pico.css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />

	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="../../static/font-awesome/css/all.min.css">
	<link rel="stylesheet" href="../../static/font-awesome/css/fontawesome.min.css">

	<link rel="stylesheet" href="../../static/stylesheet/main.css" />
</head>
