<section id="modal">
    <dialog id="invalid_credentials">
        <article>
            <a href="#close" aria-label="Close" class="close" data-target="invalid_credentials"
                onclick="toggleModal(event)"></a>
            <h3>Invalid Credentials</h3>
            <p>
                User not found in the database with those credentials.
            </p>
            <footer>
                <a href="#confirm" role="button" data-target="invalid_credentials" onclick="toggleModal(event)">Ok</a>
            </footer>
        </article>
    </dialog>
</section>
<script src="../../static/javascript/modal.js"></script>