
<section>
    <dialog id="modal">
        <article>
            <a href="#close" aria-label="Close" class="close" data-target="modal"
                onclick="toggleModal(event)"></a>
            <h3>{{ title }}</h3>
            <p>
                {{ message }}
            </p>
            <footer>
                <a href="#confirm" role="button" data-target="modal" onclick="toggleModal(event)">Ok</a>
            </footer>
        </article>
    </dialog>
</section>

<script src="../../static/javascript/modal.js"></script>

<script>
    window.onload = function () {
        openAction('')
    }
</script>
