<section>
    <dialog id="modal{{window.id}}">
        <article class="modal">
            <a href="#close" aria-label="Close" class="close" data-target="modal{{window.id}}"
                onclick="toggleModal(event)"></a>
            <h3> {{ window.title }} </h3>
            <p>
                {{ window.description }}
            </p>

            <form action="{{ window.action }}" method="POST">
                {% for field in window.fields %}

                <div class="input">
                    <label for="{{ field.label }}">{{ field.label }}</label>
                    <input type="{{ field.type }}" id="{{ field.label }}" name="{{ field.name }}"
                        placeholder="{{ field.placeholder }}" {{ field.required }}>
                </div>

                {% endfor %}

                <footer>
                    <button type="submit" class="contrast">Register</button>
                </footer>

            </form>
        </article>
    </dialog>
</section>

<script src="../../static/javascript/modal.js"></script>
