<nav id="navbar" class="container-fluid">
    <div>
        <a href="/overview"><strong>SCC0541 - Laboratório de Bases de
                Dados</strong></a>
    </div>

    {% if get_username() != None %}
    <ul>
        {% if actions %}
        {% for action in actions %}
        {% with window=action%}
        {% include "components/modal.html.jinja" %}
        {% endwith %}
        <li>
            <button onclick="openAction({{action.id}})" class="primary-btn button" role="button">
                <i class="fa-solid fa-user-plus"></i>
                {{ action.title }}
            </button>
        </li>
        {% endfor %}
        {% endif%}

        <li>
            <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link" class="secondary-btn button"> Reports <i class="fa-solid fa-file fa-lg"></i> </summary>
                <ul role="listbox">
                    <li>
                        <a href="/report/1">
                            Report 1
                        </a>
                    </li>
                    <li>
                        <a href="/report/2">
                            Report 2
                        </a>
                    </li>
                </ul>
            </details>
        </li>

        <li>
            <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link" class="button"> <span>{{ get_username() }}</span> <i class="fa-solid fa-user fa-lg"></i> </summary>
                <ul role="listbox">
                    <li><a onclick="window.location.href = '/';">Logout</a></li>
                </ul>
            </details>
        </li>
    </ul>
    {% endif %}
</nav>