<!-- Nav -->
<nav id="navbar" class="container-fluid">
    <div>
        <a href="./" onclick="event.preventDefault()"><strong>SCC0541 - Laboratório de Bases de Dados</strong></a>
    </div>

    {% if get_username() != None %}
    <ul>
        <li>
            <a href="#" class="reports" role="button"> 
                <i class="fa-solid fa-file fa-lg"></i>
                Reports
            </a>
        </li>
        <li>
            <span>{{ get_username() }}</span>
        </li>
        <li>
            <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link"> <i class="fa-solid fa-user fa-lg"></i> </summary>
                <ul role="listbox">
                    <li><a onclick="logout()">Logout</a></li>
                </ul>
            </details>
        </li>
    </ul>
    {% endif %}
</nav>
<!-- ./ Nav -->

<style>
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: var(--secondary);
        min-height: 80px;
        max-height: 80px;
        box-shadow: 0 5px 20px #484848;
    }

    a,
    i,
    span {
        color: var(--white);
    }

    i {
        margin-top: 0.6rem;
    }

    .reports {
        margin-right: 1rem;
        font-weight: bold;
        background-color: var(--primary);
        color: var(--white);
    }
</style>

<script>
    const logout = () => {
        _clearCookies();
        window.location.href = "/";
    }

    _clearCookies = () => {
        let cookies = document.cookie.split(";");

        for (let i = 0; i < cookies.length; i++) {
            let cookie = cookies[i];
            let igualPos = cookie.indexOf("=");
            let nomeCookie = igualPos > -1 ? cookie.substr(0, igualPos) : cookie;
            document.cookie = nomeCookie + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }
    }
</script>