<nav id="navbar" class="container-fluid">
    <div>
    {% if request.path == "/" %}
        <a href="/">
    {% else %}
        <a href="/overview">
    {% endif %}
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/F1.svg/2560px-F1.svg.png" id="logo-id"/>
            <strong>Laboratório de Bases de Dados</strong>
        </a>
    </div>

    {% if get_username() != None %}
    <ul>
        {{ request.path }}
        {% if actions or request.path == "/fetch/driver" %}
        {% for action in actions %}
        {% with window=action%}
        {% include "components/modal.html.jinja" %}
        {% endwith %}
        <li>
            <button onclick="openAction({{action.id}})" class="primary-btn button" role="button">
                <i class="fa-solid fa-user-plus"></i>
                {{ action.title }}
            </button>
        </li>
        {% endfor %}
        {% endif%}

        <li>
            <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link" class="secondary-btn button"> Reports <i class="fa-solid fa-file fa-lg"></i> </summary>
                <ul role="listbox">
                    <li>
                        <a href="/report/1">
                            Report 1
                        </a>
                    </li>
                    <li>
                        <a href="/report/2">
                            Report 2
                        </a>
                    </li>
                </ul>
            </details>
        </li>

        <li>
            <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link" class="button"> <span>{{ get_username() }}</span> <i class="fa-solid fa-user fa-lg"></i> </summary>
                <ul role="listbox">
                    <li><a onclick="window.location.href = '/';">Logout</a></li>
                </ul>
            </details>
        </li>
    </ul>
    {% endif %}
</nav>
