:root {
	--card-height: 380px;
	--card-image-height: 150px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 260px;
	height: var(--card-height);
	border-radius: 10px;
	background-color: var(--secondary);
	padding: 0;
}

.card-image {
	height: var(--card-image-height);
	overflow: hidden;
	border-radius: 10px 10px 0 0;
}

.card-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: calc(var(--card-height) - var(--card-image-height));
	padding: 0.4rem;
	text-align: center;
}

.card-content > h6, p {
	margin-bottom: 0.5rem;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 2rem;
	border-radius: 10px;
	background-color: var(--primary);
	color: var(--white);
	font-weight: bold;
}

.two-btn {
	display: flex;
	flex-direction: row;
	grid-gap: 0.5rem;
}

h6, label {
	color: var(--white);
}
