/* Adicione estilos adicionais para tornar o footer responsivo conforme necessário */
footer {
	background-color: var(--tertiary);
	text-align: center;
	min-height: fit-content;
}

#footer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: sticky;
	top: 100vh;
	width: 100%;
	margin-bottom: 4em;
}

.footer-knowledge-section {
	text-align: start;
	display: flex;
	justify-content: start;
	align-items: center;
	width: 15rem;
}

.footer-knowledge-section ul {
	width: 100%;
}

.footer-knowledge-section li {
	list-style: none;
}

.footer-member-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-member {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 1rem;
}

.footer-member img {
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin-bottom: 0.5rem;
}

.footer-member a {
	text-align: center;
}

.footer-member p {
	text-align: center;
	font-weight: bold;
}

/* Adicione estilos adicionais para tornar o footer responsivo conforme necessário */
/* Estilos para dispositivos móveis */
@media (max-width: 900px) {
	#footer-container {
		flex-direction: column;
		align-items: center;
	}

	.footer-member {
		margin: 0.5em;
	}
}
