.modal {
    width: 60%;
    max-height: 80vh;
    padding: 1rem 1rem;
}

h3 {
    text-align: center;
}

.modal > p {
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
}

.modal > form {
    margin: 20px 0;
}

input::placeholder {
    font-style: italic;
    color: var(--primary);
}
