#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--secondary);
    min-height: 80px;
    max-height: 80px;
    box-shadow: 0 5px 20px #484848;
}

#logo-id {
    width: 5em;
    font-weight: bold;
}

a,
i,
span {
    color: var(--white);
}

i {
    margin-top: 0.6rem;
    margin-left: 0.5rem;
}

.primary-btn {
    background-color: var(--tertiary);
}

.secondary-btn {
    background-color: #484848;
}

.button {
    margin-right: 1rem;
    font-weight: bold;
    color: var(--white);
}