<!DOCTYPE html>
<html>
<head>
    <title>Aeroportos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <h1>Aeroportos</h1>
    <table>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>País</th>
            <th>Cidade</th>
        </tr>
        {% for airport in airports %}
        <tr>
            <td>{{ airport[0] }}</td>
            <td>{{ airport[1] }}</td>
            <td>{{ airport[2] }}</td>
            <td>{{ airport[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>