<!DOCTYPE html>
<html lang="pt-br">
{% include "components/header.html.jinja" %}
<body>
    {% include "components/navbar.html.jinja" %}
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    {% include "components/footer.html.jinja" %}
</body>
</html>