{% extends "base.html.jinja" %}

{% block content %}
<section id="overview">

  <h1>{{ user.name }} Overview</h1>

  <div class="content">
    {% for card in overview_cards %}
    {% with image=card.image, title=card.title, type=card.type_card, description=card.description, value=card.value %}
    {% include "components/card.html.jinja" %}
    {% endwith %}
    {% endfor %}
  </div>

</section>

{% endblock %}
