{% extends "base.html.jinja" %}
{% block content %}
<div id="reports-container">
    <h1> Relatórios </h1>
    <section>
        {# Cada tipo de usuario tem 2 relatorios, criar 2 cards #}
        {% with title="Relatório 1", description="Status" %}
        {% include "components/card.html.jinja" %}
        {% endwith %}
        {% with title="Relatório 2", description="Distâncias" %}
        {% include "components/card.html.jinja" %}
        {% endwith %}
    </section>
</div>
{% endblock %}