{% extends "base.html.jinja" %}
{% block content %}
<article>
    <header>
        <h1>Relatório 1</h1>
        <p>Quantidade de resultados, por status</p>
    </header>
    <figure>
        {# seria bom tornar esse render das rows generalista? #}
        {% if report == None %}
        <p>Nenhum resultado encontrado</p>
        {% else %}
        <table>
            <tr>
                <th><strong>Status</strong></th>
                <th><strong>Contagem</strong></th>
            </tr>
            {% for row in report %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </figure>
    {# TODO: Criar botão voltar ao topo #}
</article>

{% endblock %}